@{
    ViewData["Title"] = "Ok Page";
}

<h1>Fill table is OK</h1>

    <div class="text-center">
        <div class="form-group">
            <div class="col-md-4">
                <form method="post" asp-controller="Home" asp-action="Index">
                    <button type="submit" class="btn btn-sm btn-primary">Return to home</button>
                </form>
            </div>
        </div>
    </div>
